*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body{
  background: #f2643e;
  font-family: 'Roboto Condensed', sans-serif;

}

#content{
  margin-top: 65px;
  /*margin-right: 0;*/
  background: #eaeff3;
 color: #2d2d2f;
 padding:60px;
 width:auto;

}

h1 {
    
    /*margin-left: 15%*/;
     padding: 15px;
    color: #f2643e;
    font-size: 50px;
    text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  }
  h3{
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
  }

  #image img {
    padding: 25px;
    height: 500px;
  }

  #image{
    display: flex;
  }

  #image p{
    padding: 25px;
    padding-top: 120px;
    line-height: 50px;
  }

  #bg{
    background: /*rgba(0,0,0,0.2)*/#f2643e;
    color: white;
    width: 100%;
/*     margin:auto; */
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
  }

#bg ul li{
 margin-left:0px;
}

   #title{
    display: flex;
  }

  #blue{
    color: #f2643e;
  }

  #pink{
    color:#36c3e1;
  }

  h3 {
    color: #3c297b;
    font-family: 'Do Hyeon', sans-serif;

  }

  h2{
    font-size: 34px;
    font-family: 'Do Hyeon', sans-serif;
  }

  h4{
    color: #36c3e1;
    font-size: 18px;
    font-family: 'Do Hyeon', sans-serif;
  }

  p, ul li{
    font-size: 22px;

  }
header {
 background:#3c297b /*#4cb69f*/;
 width: 100%;
 height:30px;
 top: 0;
 padding: 15px 0px;
 position: fixed;
 font-size: 30px;
  font-family: 'Do Hyeon', sans-serif;
}
.main-menu  li{
  list-style-type: none;
  font-size: 22px;
  float: left;
  padding-left:5%;

}
li a {
   text-decoration: none;
   color: #ffffff;
}

a.active{
   color:#f2643e;

}
.active a{
   color:#f2643e;

}

 li a:hover{
  color:#f2643e;

}
.sub-menu{
  background-color:#3c297b;
  
  }

.sub-menu{
  display: none;

}

 li:hover .sub-menu{
   display:block;
   position: absolute;
   color:#feed6d;
   /*margin-top: 0;*/
   /*margin-left: -15px;*/
 }

 li:hover .sub-menu ul{
  display: flex;

  flex-direction: column;
  margin-top:0;
  padding: 0;
 
 }

  li:hover .sub-menu ul li {
     width:300px;
     padding: 10px;     
     border-bottom: 1px dotted #fff;
     background:transparent;
     border-radius: 0;
     text-align: left;
  }

  li:hover .sub-menu ul li:last-child{
    border-bottom: none;
  }
  
  footer{
  width: 100%;
  background: /*#4863A0*/ #3c297b;
  display: block;
 
}

.footer-content{
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-item{
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

 footer h3{
  padding: 10px 0;
  font-size: 25px;
  color: #ffffff;
   font-family: 'Do Hyeon', sans-serif;
}

.footer-item p{
   color: white;
   font-size: 16px;
   text-align: justify;
  
}

.border{
  height: 2px;
  width: 40px;
  background:#f2643e;
}

footer ul li{
  list-style-type: none;
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
   margin: 10px 0;
  height: 25px;
 
}

footer  a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

footer  a :hover{
  color:#f2643e;
}

.footer-social{
  width: 100%;
  color: white;
  text-align: center;
}

.footer-social i{
  height: 15px;
  width: 15px;
  margin: 10px 30px;
  padding: 10px;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
}

.footer-social i:hover{
  background:#f2643e;
  border: 1px solid #3c297b;
  color: #3c297b;
}


  @media screen and (max-width: 1085px){

    #image{
    flex-direction: column;
  }

  #image img{
    height: auto;
    padding-left:5px;
    width: 100%;
  }

  header{
    font-size: 18px;
  }

   .footer-item, .footer-social{
    width: 50%;
  }
}

@media screen and (max-width: 800px){
  .main-menu li{
    padding-left:2.5%;
  }

  .main-menu li:nth-of-type(1){
    padding-left:.5%;
  }
  }

@media screen and (max-width: 768px){
  h1{margin-top: 25px;}
  #content{
    margin-top: 35%;
  }

  #title{
    flex-direction: column;

  }
   #image p{
    padding: 15px;
    padding-top: 50px;
    line-height: 25px;
  }
  header{
    width: 100%;
    height: auto;
    
    position: absolute;
   
    font-size: 15px;
  }

   p, #bg ul li{
   font-size: 15px;
  }

  .main-menu li {
    clear: left;
    list-style-type: disc;
    color:  white;
    text-decoration: underline;
    text-underline-position: under;
     line-height: 35px;
  /* border-bottom: 1px dotted #fff;*/


  }

  .main-menu li:last-child{
    border-bottom: none;
  }


  .footer-item, .footer-social{
    width: 100%;
   }
}

@media screen and (max-width: 420px){
  #content{
    margin-top: 62%;
  }

   /*#image{
      margin-top: -180px;
    }*/
}
