* {box-sizing:border-box
  padding:0;
  margin: 0;
  user-select: none;
}

body{
  background: #f2643e;
  font-family: 'Arial', sans-serif;
}
header {
 background:#3c297b;
 width: 100%;
 height: 30px;
 top: 0;
 padding: 15px 0px;
 position: fixed;
 font-size: 25px;
font-family: 'Raleway', sans-serif;
}

.toggler{
  display: none;
}

#img{
float: left;
}

#img img{
  height: 70px;
  margin-top: -22px;
}

.main-menu  li{
  list-style-type: none;
  font-size: 22px;
  float: left;
  padding-left:5%;

}
li a {
   text-decoration: none;
   color: #ffffff;
}


.active a{
   color: #f2643e;

}
 li a:hover{
  color: #f2643e;

}
.sub-menu{
  background-color: #3c297b;
  
  }

.sub-menu{
  display: none;

}

 li:hover .sub-menu{
   display:block;
   position: absolute;
   color: #f2643e;
   /*margin-top: 0;*/
   /*margin-left: -15px;*/
 }

 li:hover .sub-menu ul{
  display: flex;

  flex-direction: column;
  margin-top:0;
  padding: 0;
 
 }

  li:hover .sub-menu ul li {
     width:300px;
     padding: 10px;
     
     border-bottom: 1px dotted #fff;
     background:transparent;
     border-radius: 0;
     text-align: left;
  }

  li:hover .sub-menu ul li:last-child{
    border-bottom: none;
  }

.main-banner{
    margin: 10px auto;
    margin-top: 70px;
    width: 100%;
    height: 75vh;
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }

   .main-banner .imgban{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition:all ease-in-out 500ms;
    -moz-transition:all ease-in-out 500ms;
    -o-transition:all ease-in-out 500ms;
  }

 .main-banner #imgban5{
    background-image: url('infra.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main-banner #imgban4{
        background-image: url('applicationsupport.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .main-banner #imgban3{
    background-image: url('professionalservices.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

   .main-banner #imgban2{
    background-image: url('manageserve.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

   .main-banner #imgban1{
    background-image: url('cloud2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .imgbanbtn {
    width:40px;
    height: 40px;
    background: #000;
    border-radius: 4px;
    position: absolute;
    top: 180px;
    z-index: 2000;
    opacity: 0.8;
    cursor: pointer;
  }

  .imgbanbtn:hover {
    opacity: 0.9;
  }

  .imgbanbtn-prev{
    left: 5px;
    margin-top: 10%;
    background-image: url(prev.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .imgbanbtn-next{
    right: 5px;
    margin-top: 10%;
    background-image: url(prev.png);
    transform: rotate(180deg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg{
    background:  rgba(0,0,0,0.8);    
  }

   .main-banner .imgban-box h2{
    font-size: 60px;
     font-family: 'Raleway', sans-serif;
    color: #f2643e;
    padding: 10px;
   /* background: rgba(0,0,0,0.8);*/

   }

  .main-banner .imgban-box p{
    padding: 10px;
     padding-top: 6px;
     font-size: 30px;
     /*background: rgba(0,0,0,0.8);*/
     color: #fff;
  }

  .main-banner #imgban5 .imgban-box{
    padding-top: 25%;
    padding-left: 25%; 
  }
  .main-banner #imgban4 .imgban-box{
    padding-top: 25%;
    padding-left: 25%; 
  }

  .main-banner #imgban3 .imgban-box{
    padding-top: 25%;
    padding-left: 25%; 

  }
  .main-banner #imgban2 .imgban-box{
   padding-top: 25%;
    padding-left: 25%; 
  }
  .main-banner #imgban1 .imgban-box{
    padding-top: 25%;
    padding-left: 25%; 
  }

  button{
  padding: 2px;
  margin:25px;
  margin-top: 5px;
  background-color: #f2643e;
  border-color: #f2643e;
  color: #fff;
  right: 0;
}
button:hover{
  cursor: pointer;
}


footer{
  width: 100%;
  background: #3c297b;
  display: block;
}

.footer-content{
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-item{
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

 footer h3{
  padding: 10px 0;
  font-size: 25px;
  color: #ffffff;
   font-family: 'Raleway', sans-serif;
}

.footer-item p{
   color: white;
   font-size: 16px;
   text-align: justify;
   
}

.border{
  height: 2px;
  width: 40px;
  background:#f2643e;
}

footer ul {
  list-style-type: none;
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
}

footer  a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

footer  a :hover{
  color: #f2643e;
}

footer ul li{
  margin: 10px 0;
  height: 25px;
   }

.footer-social{
  width: 100%;
  color: white;
  text-align: center;
}

.footer-social i{
  height: 15px;
  width: 15px;
  margin: 10px 30px;
  padding: 10px;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
}

.footer-social i:hover{
  background: #f2643e;
  border: 1px solid #3c297b;
  color: #3c297b;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 1085px){
 
  h2{
    font-size:45px;
  }
  
  p{
    font-size:25px;
  }

  header{
    font-size: 18px;
  }

 

  .footer-item, .footer-social{
    width: 50%;
  }
}

@media screen and (max-width: 800px){
 
 nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
  
 
.toggler{
  position: absolute;
  display:block;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}
  
  #img{
  clear:left;
}

#img img{
  height: 65px;
  margin-top: -5px;
  margin-left:45%;
}

.hamburger{
  position: absolute;
  top: 0.2rem;
  left: 25px;
  width: 50px;
  height: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #111;
}

.hamburger>div{
  position: absolute;
  width: 60%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #f2643e;
  transition: .4s;
}

.hamburger>div:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #f2643e;
  top: -10px;
  left: 0;
  transition: .4s;
}

.hamburger>div:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #f2643e;
  top: 10px;
  left: 0;
  transition: .4s;
}

.toggler:checked + .hamburger>div{
  transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
  transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
  top: 0;
  transform: rotate(90deg);
}

.main-menu{
  position: fixed;
  top: 0;
  left: 40px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: .6s;
}

.main-menu li{
  clear: left;
}

.main-menu > div{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-150%) translateY(-50%);
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.main-menu > div > div{
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: .6s;
  /*flex-direction: column;*/
}

.main-menu > div > div > ul > li{
  list-style: none;
  /*border-bottom: 1px dotted #fff;*/
   line-height: 80px;
}

.main-menu > div > div > ul > li > a{
  text-decoration: none;
  color: #fff;
  font-weight: 550;
  text-transform: uppercase;
  margin: .5rem;
  transition: .3s;
  font-size: 1.2rem;
  /*display: inline-block;*/
 
}

.main-menu > div > div > ul > li > a:hover{
  color: #f2643e;
}

.sub-menu{
  background-color:rgba(0, 0, 0, 0.9);
  
  }

.sub-menu{
  display: none;

}

li:hover .sub-menu{
   display:block;
   position: absolute;
   color: #f2643e;
   margin-top: -150px;
   margin-left:100px;
 }

 li:hover .sub-menu ul{
  display: flex;

  flex-direction: column;
  margin-top:0;
  padding: 0;
 
 }

  li:hover .sub-menu ul li {
     width:350px;
     padding: 10px;
     border-bottom: none;
     background:transparent;
     border-radius: 0;
     text-align: left;
    line-height:50px;
  }
.toggler:checked ~ .main-menu{
  visibility: visible;
}

.toggler:checked ~ .main-menu > div{
  transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .main-menu > div > div{
  opacity: 1;
}

 /* .main-menu li{
    padding-left:2.5%;
  }

  .main-menu li:nth-of-type(1){
    padding-left:.5%;
  }
  }*/

@media screen and (max-width: 768px){
   li:hover .sub-menu ul li {
     width:300px;
     padding: 10px;
     font-size:12px;
     border-bottom: none;
     background:transparent;
     border-radius: 0;
     text-align: left;
     line-height:50px;
  }
  
   .main-banner .imgban-box h2{
    font-size:25px;
  }
  
   .main-banner .imgban-box p{
    font-size:16px;
  }
  .main-banner #imgban5 .imgban-box{
    padding-top: 75%;
    padding-left: 25%; 

  }
  .main-banner #imgban4 .imgban-box{
    padding-top: 75%;
    padding-left: 25%; 

  }
  
  .main-banner #imgban3 .imgban-box{
    padding-top: 75%;
    padding-left: 25%; 

  }
  .main-banner #imgban2 .imgban-box{
   padding-top: 75%;
    padding-left: 25%; 
  }
  .main-banner #imgban1 .imgban-box{
    padding-top: 75%;
    padding-left: 25%; 
  }
  
   .footer-item, .footer-social{
    width: 100%;
   }
}

@media screen and (max-width: 420px){

  .main-menu > div{
    left: 10%;
  }
/*   #content{
    margin-top: 62%;
  }

   #image{
      margin-top: -180px;
    }
}
 */
