* {box-sizing:border-box
  padding:0;
  margin: 0;
}

body{
  background: #f2643e;
  font-family: 'Roboto Condensed', sans-serif;
}
header {
 background:#3c297b;
 width: 100%;
 height: 30px;
 top: 0;
 padding: 15px 0px;
 position: fixed;
 font-size: 25px;
font-family: 'Do Hyeon', sans-serif;
}
.main-menu  li{
  list-style-type: none;
  font-size: 22px;
  float: left;
  padding-left:5%;

}
li a {
   text-decoration: none;
   color: #ffffff;
}


.active a{
   color: #f2643e;

}
 li a:hover{
  color: #f2643e;

}
.sub-menu{
  background-color: #3c297b;
  
  }

.sub-menu{
  display: none;

}

 li:hover .sub-menu{
   display:block;
   position: absolute;
   color: #f2643e;
   /*margin-top: 0;*/
   /*margin-left: -15px;*/
 }

 li:hover .sub-menu ul{
  display: flex;

  flex-direction: column;
  margin-top:0;
  padding: 0;
 
 }

  li:hover .sub-menu ul li {
     width:300px;
     padding: 10px;
     
     border-bottom: 1px dotted #fff;
     background:transparent;
     border-radius: 0;
     text-align: left;
  }

  li:hover .sub-menu ul li:last-child{
    border-bottom: none;
  }

.slideshow-container {
  /*max-width: 100%;*/
  position: relative;
  margin-top:65px ;
  display: flex;
  background: #f1f1f1;
  width: 100%;
  height: 75vh;
  overflow: hidden;
   /*border: 8px solid #fff;
  border-radius: 20px;*/
/* box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);*/
}
.mySlides {
  display: none;
  height: 100%;
  width: 100%;

}

.mySlides:nth-child(1){
    background-image: url('cloud1.jpg');
   /* background-repeat: no-repeat;*/
  background-size: cover; 
}

.mySlides:nth-child(2){
    background-image: url('manageserve.jpg');
  background-size: cover;
}

.mySlides:nth-child(3){
    background-image: url('professionalservices.jpg');
  background-size: cover;
}

.texts {
  max-width: 50%;
  position: absolute;
    top: 75%;
    right: 10px;
    transform: translateY(-50%);
    padding: 2.5rem 2rem;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

button{
  padding: 2px;
  background-color: #f2643e;
  border-color: #f2643e;
  color: #fff;
  right: 0;
}
button:hover{
  cursor: pointer;
}

.heading{
  color: #f2643e;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
  font-family: 'Do Hyeon', sans-serif;
}

.intro{

 color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
    font-weight: 300;
     font-family: sans-serif;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background:#3c297b;
}


.next {
  right: 0;
  border-radius: 2px 0 0 2px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

 .dot.active, .dot:hover {
  background-color: #000000;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

footer{
  width: 100%;
  background: #3c297b;
  display: block;
}

.footer-content{
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-item{
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

 footer h3{
  padding: 10px 0;
  font-size: 25px;
  color: #ffffff;
   font-family: 'Do Hyeon', sans-serif;
}

.footer-item p{
   color: white;
   font-size: 16px;
   text-align: justify;
   
}

.border{
  height: 2px;
  width: 40px;
  background:#f2643e;
}

footer ul {
  list-style-type: none;
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
}

footer  a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

footer  a :hover{
  color: #f2643e;
}

footer ul li{
  margin: 10px 0;
  height: 25px;
   }

.footer-social{
  width: 100%;
  color: white;
  text-align: center;
}

.footer-social i{
  height: 15px;
  width: 15px;
  margin: 10px 30px;
  padding: 10px;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
}

.footer-social i:hover{
  background: #f2643e;
  border: 1px solid #3c297b;
  color: #3c297b;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 1085px){
  .mySlides:nth-child(1){
    background-image: url('cloud1.jpg');
   /* background-repeat: no-repeat;*/
  background-size: cover; 
}

.mySlides:nth-child(2){
    background-image: url('manageserve.jpg');
  background-size: cover;
}

.mySlides:nth-child(3){
    background-image: url('professionalservices.jpg');
  background-size: cover;
}

 .texts {
  max-width: 75%;
  height: 150px;
}

.heading{
  font-size: 34px;
}

.intro{
  font-size: 20px;
}

  header{
    font-size: 18px;
  }

  .slideshow-container{
    width: 100%;
  }

  .footer-item, .footer-social{
    width: 50%;
  }
}

@media screen and (max-width: 800px){
  .main-menu li{
    padding-left:2.5%;
  }

  .main-menu li:nth-of-type(1){
    padding-left:.5%;
  }
  }

@media screen and (max-width: 768px){
  


  .mySlides:nth-child(1){
    background-image: url('cloud2.jpg');
   /* background-repeat: no-repeat;*/
  background-size: cover;
 }

.mySlides:nth-child(2){
    background-image: url('manageserve.jpg');
  background-size: cover;
}

.mySlides:nth-child(3){
    background-image: url('professionalservices.jpg');
  background-size: cover;
}

 .slideshow-container{
    width: 100%;
  }
 
 .texts {
  max-width: 75%;
  height: 100px;
}

.heading{
  font-size: 20px;
}

.intro{
  font-size: 16px;
}

  header{
    width: 100%;
    height: auto;
    
    position: absolute;
   display:none;
    font-size: 15px;
  }

  /*.slideshow-container{
    margin-top: 50%;
  }*/

  .main-menu li {
    clear: left;
    list-style-type: disc;
    color:  white;
    text-decoration: underline;
    text-underline-position: under;
    
    line-height: 35px;
  /* border-bottom: 1px dotted #fff;*/


  }

  .main-menu li:last-child{
    border-bottom: none;
  }

  .mySlides{
    flex-direction: column;
    }
    .mySlides td {flex-direction: column;

    }
    .mySlides iframe{

      flex-direction: column;
    }

    
   .footer-item, .footer-social{
    width: 100%;
   }
}

@media screen and (max-width: 420px){
  #content{
    margin-top: 62%;
  }

   #image{
      margin-top: -180px;
    }
}
